In [1]:
# Dependancies
import pandas as pd
import os
import numpy as np

In [2]:
# Loading Files -
crime_data_to_load = os.path.join("Resources","2020_crime.csv")
chicago_zip_data_to_load = os.path.join("Resources", "chicago_zip_ward.csv")

In [3]:
# reading in ward/zip data into dataframe for merging
ward_zip_df = pd.read_csv(chicago_zip_data_to_load,header=0, delim_whitespace=False)
ward_zip_df

    Ward    ZIP
0      1  60626
1      2  60645
2      3  60660
3      4  60616
4      5  60625
5      6  60641
6      7  60657
7      8  60615
8      9  60621
9     10  60636
10    11  60609
11    12  60608
12    13  60643
13    14  60633
14    15  60643
15    16  60612
16    17  60624
17    18  60644
18    19  60603
19    20  60605
20    21  60653
21    22  60609
22    23  60666
23    24  60618
24    25  60616
25    26  60602
26    27  60601
27    28  60608
28    29  60607
29    30  60661
30    31  60606
31    32  60614
32    33  60647
33    34  60639
34    35  60707
35    36  60622
36    37  60651
37    38  60611
38    39  60638
39    40  60652
40    41  60631
41    42  60602
42    43  60628
43    44  60827
44    45  60630
45    46  60642
46    47  60618
47    48  60604
48    49  60655
49    50  60659
50    51  60707
51    53  60613
52    54  60610
53    55  60654
54    56  60632
55    57  60623
56    58  60629
57    59  60620
58    60  60637
59    61  60619

In [4]:
#Reading in crime data into dataframe
crime_df = pd.read_csv(crime_data_to_load, header=0, delim_whitespace=False)
crime_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,rankings,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11946909,JD109980,1/9/2020 14:25,059XX S ASHLAND AVE,910,MOTOR VEHICLE THEFT,AUTOMOBILE,AUTO / BOAT / RV DEALERSHIP,6,False,...,16,67,7,1166690.0,1865304.0,2020,1/16/2020 15:49,41.785960,-87.664375,"(41.78595959, -87.6643748)"
1,11946915,JD110189,1/9/2020 16:58,076XX S STEWART AVE,610,BURGLARY,FORCIBLE ENTRY,APARTMENT,6,False,...,17,69,5,1174949.0,1854311.0,2020,1/16/2020 15:49,41.755613,-87.634421,"(41.755613227, -87.634420924)"
2,11946931,JD110284,1/9/2020 20:25,012XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,3,False,...,3,33,11,1177422.0,1894769.0,2020,1/16/2020 15:49,41.866578,-87.624134,"(41.866578077, -87.624134464)"
3,11946971,JD109951,1/9/2020 15:53,048XX W RACE AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,4,False,...,28,25,08B,1144164.0,1903225.0,2020,1/16/2020 15:49,41.890471,-87.746016,"(41.890471431, -87.746016415)"
4,11947070,JD110194,1/9/2020 18:46,043XX S DR MARTIN LUTHER KING JR DR,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,5,True,...,3,38,15,1179582.0,1876300.0,2020,1/16/2020 15:49,41.815849,-87.616771,"(41.815848621, -87.616770643)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110944,12109636,JD301817,7/17/2020 0:00,097XX S CHARLES ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,3,False,...,19,72,11,1167294.0,1840368.0,2020,7/24/2020 15:49,41.717519,-87.662873,"(41.717518825, -87.662872699)"
110945,12109063,JD300997,7/17/2020 0:00,077XX S CARPENTER ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,4,False,...,17,71,08B,1170656.0,1853478.0,2020,7/24/2020 15:49,41.753422,-87.650178,"(41.753421993, -87.650177933)"
110946,12114564,JD307110,6/18/2020 11:47,054XX N clark st,860,THEFT,RETAIL THEFT,DRUG STORE,3,False,...,40,77,6,NaN,NaN,2020,7/24/2020 15:49,NaN,NaN,NaN
110947,12108793,JD300858,7/17/2020 17:38,005XX W WASHINGTON BLVD,860,THEFT,RETAIL THEFT,CONVENIENCE STORE,3,False,...,42,28,6,1172571.0,1900778.0,2020,7/24/2020 15:49,41.883176,-87.641765,"(41.883175772, -87.641765096)"
110948,12108363,JD300205,7/17/2020 6:45,001XX E DELAWARE PL,460,BATTERY,SIMPLE,SIDEWALK,3,False,...,42,8,08B,1176911.0,1906649.0,2020,7/24/2020 15:49,41.899189,-87.625651,"(41.899189017, -87.625650736)"

In [5]:
#exploring data
crime_df.count()

ID                      110949
Case Number             110949
Date                    110949
Block                   110949
IUCR                    110949
Primary Type            110949
Description             110949
Location Description    110394
rankings                110949
Arrest                  110949
Domestic                110949
Beat                    110949
District                110949
Ward                    110949
Community Area          110949
FBI Code                110949
X Coordinate            110198
Y Coordinate            110198
Year                    110949
Updated On              110949
Latitude                110198
Longitude               110198
Location                110198
dtype: int64

In [7]:
#cleaning data down to columns needed for analysis
clean_crime_df = crime_df[[ "Primary Type", "Ward","rankings", "Latitude", "Longitude","Arrest","Domestic"]]
clean_crime_df

,Primary Type,Ward,rankings,Latitude,Longitude,Arrest,Domestic
0,MOTOR VEHICLE THEFT,16,6,41.785960,-87.664375,False,False
1,BURGLARY,17,6,41.755613,-87.634421,False,False
2,DECEPTIVE PRACTICE,3,3,41.866578,-87.624134,False,False
3,BATTERY,28,4,41.890471,-87.746016,False,True
4,WEAPONS VIOLATION,3,5,41.815849,-87.616771,True,False
...,...,...,...,...,...,...,...
110944,DECEPTIVE PRACTICE,19,3,41.717519,-87.662873,False,False
110945,BATTERY,17,4,41.753422,-87.650178,False,True
110946,THEFT,40,3,NaN,NaN,False,False
110947,THEFT,42,3,41.883176,-87.641765,False,False
110948,BATTERY,42,3,41.899189,-87.625651,False,False

In [8]:
clean_crime_df.to_csv("Resources/crime_for_model.csv")

In [9]:
# merging zip data from ward/zip data into the crime data on index Ward
clean_crime_df.set_index('Ward', inplace = True)
ward_zip_df.set_index('Ward', inplace=True)

crime_zip_df = pd.merge(clean_crime_df, ward_zip_df, left_index = True, right_index = True, how= 'inner')
crime_zip_df.reset_index('Ward', drop=False, inplace=True)

crime_zip_df

,Ward,Primary Type,rankings,Latitude,Longitude,Arrest,Domestic,ZIP
0,1,THEFT,3,41.896025,-87.670210,False,False,60626
1,1,THEFT,3,41.920451,-87.687502,False,False,60626
2,1,CRIMINAL DAMAGE,4,41.908246,-87.678015,False,False,60626
3,1,THEFT,3,41.906276,-87.670012,True,False,60626
4,1,OTHER OFFENSE,3,41.904148,-87.675588,False,False,60626
...,...,...,...,...,...,...,...,...
110944,50,MOTOR VEHICLE THEFT,6,41.997706,-87.691427,False,False,60659
110945,50,OTHER OFFENSE,3,NaN,NaN,False,False,60659
110946,50,THEFT,3,41.998194,-87.694785,False,False,60659
110947,50,THEFT,3,41.996622,-87.695944,False,False,60659
110948,50,THEFT,3,41.998348,-87.680152,False,True,60659

In [10]:
#write to .csv file 
crime_zip_df.to_csv('Resources/Crime_zip_model.csv')

In [ ]:
# merging zip data from ward/zip data into the crime data on index Ward
clean_crime_df.set_index('Ward', inplace = True)
ward_zip_df.set_index('Ward', inplace=True)

crime_zip_df = pd.merge(clean_crime_df, ward_zip_df, left_index = True, right_index = True, how= 'inner')
crime_zip_df.reset_index('Ward', drop=False, inplace=True)

crime_zip_df