In [1]:
# Dependancies
import pandas as pd
import os
import numpy as np

In [2]:
# Loading Files -
crime_data_to_load = os.path.join("Resources","2020_crime.csv")
chicago_zip_data_to_load = os.path.join("Resources", "chicago_zip_ward.csv")
chicago_pop_zip_data_to_load = os.path.join("Resources","Chicago_Population_by_Zipcode_2020.csv" )

In [3]:
# reading in ward/zip data into dataframe for merging
ward_zip_df = pd.read_csv(chicago_zip_data_to_load,header=0, delim_whitespace=False)
ward_zip_df

    Ward    ZIP
0      1  60626
1      2  60645
2      3  60660
3      4  60616
4      5  60625
5      6  60641
6      7  60657
7      8  60615
8      9  60621
9     10  60636
10    11  60609
11    12  60608
12    13  60643
13    14  60633
14    15  60643
15    16  60612
16    17  60624
17    18  60644
18    19  60603
19    20  60605
20    21  60653
21    22  60609
22    23  60666
23    24  60618
24    25  60616
25    26  60602
26    27  60601
27    28  60608
28    29  60607
29    30  60661
30    31  60606
31    32  60614
32    33  60647
33    34  60639
34    35  60707
35    36  60622
36    37  60651
37    38  60611
38    39  60638
39    40  60652
40    41  60631
41    42  60602
42    43  60628
43    44  60827
44    45  60630
45    46  60642
46    47  60618
47    48  60604
48    49  60655
49    50  60659
50    51  60707
51    53  60613
52    54  60610
53    55  60654
54    56  60632
55    57  60623
56    58  60629
57    59  60620
58    60  60637
59    61  60619

In [4]:
#Reading in crime data into dataframe
crime_df = pd.read_csv(crime_data_to_load, header=0, delim_whitespace=False)
crime_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,rankings,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11946909,JD109980,1/9/2020 14:25,059XX S ASHLAND AVE,910,MOTOR VEHICLE THEFT,AUTOMOBILE,AUTO / BOAT / RV DEALERSHIP,6,False,...,16,67,7,1166690.0,1865304.0,2020,1/16/2020 15:49,41.785960,-87.664375,"(41.78595959, -87.6643748)"
1,11946915,JD110189,1/9/2020 16:58,076XX S STEWART AVE,610,BURGLARY,FORCIBLE ENTRY,APARTMENT,6,False,...,17,69,5,1174949.0,1854311.0,2020,1/16/2020 15:49,41.755613,-87.634421,"(41.755613227, -87.634420924)"
2,11946931,JD110284,1/9/2020 20:25,012XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NaN,3,False,...,3,33,11,1177422.0,1894769.0,2020,1/16/2020 15:49,41.866578,-87.624134,"(41.866578077, -87.624134464)"
3,11946971,JD109951,1/9/2020 15:53,048XX W RACE AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,4,False,...,28,25,08B,1144164.0,1903225.0,2020,1/16/2020 15:49,41.890471,-87.746016,"(41.890471431, -87.746016415)"
4,11947070,JD110194,1/9/2020 18:46,043XX S DR MARTIN LUTHER KING JR DR,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,5,True,...,3,38,15,1179582.0,1876300.0,2020,1/16/2020 15:49,41.815849,-87.616771,"(41.815848621, -87.616770643)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110944,12109636,JD301817,7/17/2020 0:00,097XX S CHARLES ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,3,False,...,19,72,11,1167294.0,1840368.0,2020,7/24/2020 15:49,41.717519,-87.662873,"(41.717518825, -87.662872699)"
110945,12109063,JD300997,7/17/2020 0:00,077XX S CARPENTER ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,4,False,...,17,71,08B,1170656.0,1853478.0,2020,7/24/2020 15:49,41.753422,-87.650178,"(41.753421993, -87.650177933)"
110946,12114564,JD307110,6/18/2020 11:47,054XX N clark st,860,THEFT,RETAIL THEFT,DRUG STORE,3,False,...,40,77,6,NaN,NaN,2020,7/24/2020 15:49,NaN,NaN,NaN
110947,12108793,JD300858,7/17/2020 17:38,005XX W WASHINGTON BLVD,860,THEFT,RETAIL THEFT,CONVENIENCE STORE,3,False,...,42,28,6,1172571.0,1900778.0,2020,7/24/2020 15:49,41.883176,-87.641765,"(41.883175772, -87.641765096)"
110948,12108363,JD300205,7/17/2020 6:45,001XX E DELAWARE PL,460,BATTERY,SIMPLE,SIDEWALK,3,False,...,42,8,08B,1176911.0,1906649.0,2020,7/24/2020 15:49,41.899189,-87.625651,"(41.899189017, -87.625650736)"

In [5]:
#exploring data
crime_df.count()

ID                      110949
Case Number             110949
Date                    110949
Block                   110949
IUCR                    110949
Primary Type            110949
Description             110949
Location Description    110394
rankings                110949
Arrest                  110949
Domestic                110949
Beat                    110949
District                110949
Ward                    110949
Community Area          110949
FBI Code                110949
X Coordinate            110198
Y Coordinate            110198
Year                    110949
Updated On              110949
Latitude                110198
Longitude               110198
Location                110198
dtype: int64

In [6]:
#cleaning data down to columns needed for analysis
clean_crime_df = crime_df[["Primary Type", "Ward","rankings", "Latitude", "Longitude", "Arrest", "Domestic" ]]
clean_crime_df

,Primary Type,Ward,rankings,Latitude,Longitude,Arrest,Domestic
0,MOTOR VEHICLE THEFT,16,6,41.785960,-87.664375,False,False
1,BURGLARY,17,6,41.755613,-87.634421,False,False
2,DECEPTIVE PRACTICE,3,3,41.866578,-87.624134,False,False
3,BATTERY,28,4,41.890471,-87.746016,False,True
4,WEAPONS VIOLATION,3,5,41.815849,-87.616771,True,False
...,...,...,...,...,...,...,...
110944,DECEPTIVE PRACTICE,19,3,41.717519,-87.662873,False,False
110945,BATTERY,17,4,41.753422,-87.650178,False,True
110946,THEFT,40,3,NaN,NaN,False,False
110947,THEFT,42,3,41.883176,-87.641765,False,False
110948,BATTERY,42,3,41.899189,-87.625651,False,False

In [7]:
# merging zip data from ward/zip data into the crime data on index Ward
clean_crime_df.set_index('Ward', inplace = True)
ward_zip_df.set_index('Ward', inplace=True)

crime_zip_df = pd.merge(clean_crime_df, ward_zip_df, left_index = True, right_index = True, how= 'inner')
crime_zip_df.reset_index('Ward', drop=False, inplace=True)

crime_zip_df

,Ward,Primary Type,rankings,Latitude,Longitude,Arrest,Domestic,ZIP
0,1,THEFT,3,41.896025,-87.670210,False,False,60626
1,1,THEFT,3,41.920451,-87.687502,False,False,60626
2,1,CRIMINAL DAMAGE,4,41.908246,-87.678015,False,False,60626
3,1,THEFT,3,41.906276,-87.670012,True,False,60626
4,1,OTHER OFFENSE,3,41.904148,-87.675588,False,False,60626
...,...,...,...,...,...,...,...,...
110944,50,MOTOR VEHICLE THEFT,6,41.997706,-87.691427,False,False,60659
110945,50,OTHER OFFENSE,3,NaN,NaN,False,False,60659
110946,50,THEFT,3,41.998194,-87.694785,False,False,60659
110947,50,THEFT,3,41.996622,-87.695944,False,False,60659
110948,50,THEFT,3,41.998348,-87.680152,False,True,60659

In [8]:
crime_zip_df.to_csv('Resources/Crime_zip_for_model.csv')

In [9]:
# read in population/zip data into a df for merging
pop_zip_df = pd.read_csv(chicago_pop_zip_data_to_load, header=0, delim_whitespace=False)
pop_zip_df

,#,ZIP,Location,City,Population,People/Sq.Mile,National Rank
0,1,60626,"42.009340, -87.669902","Chicago, Illinois","59,251","34,520.21",#98
1,2,60660,"41.990561, -87.664706","Chicago, Illinois","47,726","34,193.05",#99
2,3,60640,"41.972347, -87.663982","Chicago, Illinois","74,030","32,103.29",#109
3,4,60657,"41.938964, -87.656811","Chicago, Illinois","66,789","31,204.02",#112
4,5,60610,"41.900034, -87.636967","Chicago, Illinois","47,513","30,110.68",#119
5,6,60613,"41.958302, -87.660698","Chicago, Illinois","50,548","25,857.54",#141
6,7,60647,"41.921117, -87.701899","Chicago, Illinois","98,769","25,372.11",#143
7,8,60625,"41.973081, -87.699751","Chicago, Illinois","91,351","23,681.91",#156
8,9,60614,"41.922667, -87.652537","Chicago, Illinois","65,474","20,838.01",#197
9,10,60651,"41.902029, -87.740432","Chicago, Illinois","77,583","20,738.60",#201
10,11,60659,"41.991923, -87.704608","Chicago, Illinois","39,155","19,859.02",#213
11,12,60639,"41.920639, -87.755793","Chicago, Illinois","92,951","19,854.06",#214
12,13,60618,"41.946755, -87.702861","Chicago, Illinois","98,147","19,640.92",#220
13,14,60623,"41.847079, -87.719446","Chicago, Illinois","108,144","19,007.22",#229
14,15,60615,"41.801502, -87.603332","Chicago, Illinois","45,096","18,936.31",#231
15,16,60645,"42.008406, -87.695793","Chicago, Illinois","44,197","18,576.05",#236
16,17,60641,"41.946466, -87.746971","Chicago, Illinois","73,824","18,163.14",#241
17,18,60649,"41.763484, -87.570411","Chicago, Illinois","54,823","17,870.96",#251
18,19,60611,"41.893024, -87.618998","Chicago, Illinois","26,522","17,783.87",#253
19,20,60622,"41.901894, -87.672630","Chicago, Illinois","76,015","17,489.00",#258
20,21,60601,"41.885805, -87.622911","Chicago, Illinois","5,591","17,101.15",#271
21,22,60644,"41.880614, -87.756903","Chicago, Illinois","59,059","16,705.95",#281
22,23,60653,"41.819722, -87.611809","Chicago, Illinois","34,502","15,629.38",#313
23,24,60661,"41.882458, -87.643946","Chicago, Illinois","4,382","15,455.28",#318
24,25,60629,"41.774690, -87.714185","Chicago, Illinois","113,984","15,212.28",#325
25,26,60608,"41.848647, -87.672320","Chicago, Illinois","92,472","14,180.66",#367
26,27,60616,"41.844977, -87.629846","Chicago, Illinois","47,073","13,948.12",#379
27,28,60636,"41.775708, -87.669011","Chicago, Illinois","51,451","13,581.48",#385
28,29,60624,"41.880048, -87.722352","Chicago, Illinois","45,647","13,574.16",#386
29,30,60637,"41.780673, -87.603500","Chicago, Illinois","57,090","13,045.69",#403
30,31,60621,"41.776404, -87.640058","Chicago, Illinois","47,514","12,891.83",#411
31,32,60632,"41.810213, -87.711761","Chicago, Illinois","87,577","12,507.78",#427
32,33,60619,"41.743383, -87.605811","Chicago, Illinois","74,963","11,991.80",#461
33,34,60620,"41.740481, -87.653749","Chicago, Illinois","85,771","11,439.03",#490
34,35,60630,"41.972071, -87.756569","Chicago, Illinois","54,781","11,213.53",#503
35,36,60634,"41.946189, -87.806117","Chicago, Illinois","74,164","10,611.96",#552
36,37,60609,"41.812680, -87.656935","Chicago, Illinois","79,469","10,286.83",#579
37,38,60612,"41.880500, -87.687967","Chicago, Illinois","37,990","10,195.72",#586
38,39,60652,"41.746234, -87.711953","Chicago, Illinois","39,126","8,425.81",#757
39,40,60628,"41.692200, -87.617859","Chicago, Illinois","87,827","8,286.36",#778
40,41,60643,"41.696894, -87.661375","Chicago, Illinois","52,568","7,845.03",#867
41,42,60631,"41.994948, -87.813225","Chicago, Illinois","28,832","7,754.38",#879
42,43,60656,"41.973544, -87.830234","Chicago, Illinois","27,129","7,590.96",#900
43,44,60617,"41.718172, -87.555846","Chicago, Illinois","96,288","7,168.75",#990
44,45,60655,"41.694722, -87.703687","Chicago, Illinois","29,138","6,541.10","#1,160"
45,46,60607,"41.874503, -87.651322","Chicago, Illinois","15,552","6,428.11","#1,194"
46,47,60606,"41.881988, -87.637329","Chicago, Illinois","1,682","6,140.44","#1,268"
47,48,60605,"41.857651, -87.615592","Chicago, Illinois","12,423","6,027.29","#1,305"
48,49,60646,"41.992931, -87.760278","Chicago, Illinois","27,016","5,741.46","#1,411"
49,50,60638,"41.783650, -87.770407","Chicago, Illinois","55,788","5,010.81","#1,712"
50,51,60603,"41.880614, -87.629311","Chicago, Illinois",378,"4,553.49","#1,983"
51,52,60633,"41.661941, -87.557757","Chicago, Illinois","13,262","1,102.54","#6,069"
52,53,60602,"41.883067, -87.629187","Chicago, Illinois",70,810.58,"#6,855"
53,54,60604,"41.878266, -87.626150","Chicago, Illinois",78,546.75,"#7,918"
54,55,60654,"41.888109, -87.636652","Chicago, Illinois",7,195.04,"#11,151"

In [11]:
# clean dataset to columns needed only

clean_pop_rank_df = pop_zip_df[["ZIP", "Population", "People/Sq.Mile", "National Rank"]]
clean_pop_rank_df

      ZIP Population People/Sq.Mile National Rank
0   60626     59,251      34,520.21           #98
1   60660     47,726      34,193.05           #99
2   60640     74,030      32,103.29          #109
3   60657     66,789      31,204.02          #112
4   60610     47,513      30,110.68          #119
5   60613     50,548      25,857.54          #141
6   60647     98,769      25,372.11          #143
7   60625     91,351      23,681.91          #156
8   60614     65,474      20,838.01          #197
9   60651     77,583      20,738.60          #201
10  60659     39,155      19,859.02          #213
11  60639     92,951      19,854.06          #214
12  60618     98,147      19,640.92          #220
13  60623    108,144      19,007.22          #229
14  60615     45,096      18,936.31          #231
15  60645     44,197      18,576.05          #236
16  60641     73,824      18,163.14          #241
17  60649     54,823      17,870.96          #251
18  60611     26,522      17,783.87          #253
19  60622     76,015      17,489.00          #258
20  60601      5,591      17,101.15          #271
21  60644     59,059      16,705.95          #281
22  60653     34,502      15,629.38          #313
23  60661      4,382      15,455.28          #318
24  60629    113,984      15,212.28          #325
25  60608     92,472      14,180.66          #367
26  60616     47,073      13,948.12          #379
27  60636     51,451      13,581.48          #385
28  60624     45,647      13,574.16          #386
29  60637     57,090      13,045.69          #403
30  60621     47,514      12,891.83          #411
31  60632     87,577      12,507.78          #427
32  60619     74,963      11,991.80          #461
33  60620     85,771      11,439.03          #490
34  60630     54,781      11,213.53          #503
35  60634     74,164      10,611.96          #552
36  60609     79,469      10,286.83          #579
37  60612     37,990      10,195.72          #586
38  60652     39,126       8,425.81          #757
39  60628     87,827       8,286.36          #778
40  60643     52,568       7,845.03          #867
41  60631     28,832       7,754.38          #879
42  60656     27,129       7,590.96          #900
43  60617     96,288       7,168.75          #990
44  60655     29,138       6,541.10        #1,160
45  60607     15,552       6,428.11        #1,194
46  60606      1,682       6,140.44        #1,268
47  60605     12,423       6,027.29        #1,305
48  60646     27,016       5,741.46        #1,411
49  60638     55,788       5,010.81        #1,712
50  60603        378       4,553.49        #1,983
51  60633     13,262       1,102.54        #6,069
52  60602         70         810.58        #6,855
53  60604         78         546.75        #7,918
54  60654          7         195.04       #11,151

In [12]:
#write cleaned data to a .csv
clean_pop_rank_df.to_csv('Resources/clean_pop_zip_rank.csv')

In [13]:
# merge population data to crime dataset based on index ZIP
crime_zip_df.set_index('ZIP', inplace = True)
clean_pop_rank_df.set_index('ZIP', inplace=True)

crime_zip_pop_df = pd.merge(crime_zip_df, clean_pop_rank_df, left_index = True, right_index = True, how= 'inner')
crime_zip_pop_df.reset_index('ZIP', drop=False, inplace=True)

crime_zip_pop_df

,ZIP,Ward,Primary Type,rankings,Latitude,Longitude,Arrest,Domestic,Population,People/Sq.Mile,National Rank
0,60601,27,THEFT,3,NaN,NaN,False,False,"5,591","17,101.15",#271
1,60601,27,CRIMINAL DAMAGE,4,41.883932,-87.679964,False,False,"5,591","17,101.15",#271
2,60601,27,THEFT,3,41.896569,-87.636063,False,False,"5,591","17,101.15",#271
3,60601,27,SEX OFFENSE,3,41.883937,-87.683368,True,False,"5,591","17,101.15",#271
4,60601,27,NARCOTICS,4,41.892856,-87.710137,True,False,"5,591","17,101.15",#271
...,...,...,...,...,...,...,...,...,...,...,...
105624,60661,30,OTHER OFFENSE,3,41.941430,-87.737110,False,True,"4,382","15,455.28",#318
105625,60661,30,MOTOR VEHICLE THEFT,6,NaN,NaN,False,False,"4,382","15,455.28",#318
105626,60661,30,OFFENSE INVOLVING CHILDREN,3,41.940857,-87.728919,False,False,"4,382","15,455.28",#318
105627,60661,30,BATTERY,4,41.940049,-87.719873,False,True,"4,382","15,455.28",#318
105628,60661,30,ROBBERY,8,41.923901,-87.771157,False,False,"4,382","15,455.28",#318

In [14]:
# Write data to .csv for use in analysis phase
crime_zip_pop_df.to_csv('Resources/clean_pop_zip_model.csv')